$white: rgb(226, 232, 240);
$lightWhite:rgb(148, 163, 184);
$skyBlue:rgb(94, 234, 212);

//font families:
$firstFont: 'Quicksand', sans-serif;     //400 bold suitable for paraghraph
$secondFont: 'Open Sans', sans-serif;   //700 bold for large headers like name